body{
  
    background-color: #d8f3dc;
    background-size: cover;
    background-position: bottom;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    border-radius: 4%;
}

h1{
    height: 4em;
    width: 69%;
    color: #081c15;
    border: 1em #40916c solid;
    background-color: #95d5b2;
    /* text-align: center; */
    margin-inline: 1em;
    margin-top: 14%;
    margin-bottom: 11%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    display: inline-flex;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    margin-inline: 13%;
    border-radius: 4%;
}
#Main{
    height: 100%;
    width: 100%;
    color: #081c15;
    border: 1em #40916c solid;
    background-color: #95d5b2;
    padding-inline: 1em;
    font-size: large;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
#Platnosc{
    height: 100% ;
    width: 100%;
    color: #081c15;
    border: 1em #40916c solid;
    background-color: #95d5b2;
    padding-left: 2em;
    font-size: large;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
}
#KategoriaPlatnosc{
    padding: 1em;
    display: inline-flex;
    text-align: center;
    width: 90%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row;
    align-content: stretch;
    position: relative;
}

#Kategoria{
    height: 15%;
    width: 100%;
    color: #081c15;
    border: 1em #40916c solid;
    background-color: #95d5b2;
    padding-left: 2em;
    font-size: large;
    display: inline-flex;
    text-align: center;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;

}
#OpcKategoria{
    padding: 1em;
    display: inline-flex;
    text-align: center;
    width: 90%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row;
    align-content: stretch;
    position: relative;

}
h2{
    display: inline-flex;
}
#przycisk{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    text-align: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  
}
button{
      background: #40916c;
    color:#081c15;
    border:2px solid;
    padding:  1em2 em;
    font-size: 1em;
    transition: all 0.2s;
}
button:hover{
    background-color: #1b4332;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    cursor: pointer;
}
#komplatnosc{
    display: inline-flex;
    text-align: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
#komKategoria{
    display: inline-flex;
    text-align: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}