body{

    background-color: #d8f3dc;
    background-size: cover;
    background-position: bottom;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    font-family: 'Courgette', cursive;
}

h1{
    height: 4em;
    width: 69%;
    color: #081c15;
    border: 1em #40916c solid;
    background-color: #95d5b2;
    /* text-align: center; */
    margin-inline: 1em;
    margin-top: 6%;
    margin-bottom: 7%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    display: inline-flex;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    margin-inline: 13%;
    border-radius: 4%;
}

#Zaloguj{
  
    color: #081c15;
    border: 1em #40916c solid;
    background-color: #95d5b2;
    padding-inline: 1em;
    font-size: large;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    border-radius: 4%;
    margin-inline: 31%;
}


button{
    background: #40916c;
  color:#d8f3dc;
  border:2px solid;
  padding:  1em;
  font-size: 1em;
  transition: all 0.2s;
  margin-bottom: 0.7em;
}
button:hover{
  background-color: #1b4332;
  color: #95d5b2;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  cursor: pointer;
}